@import "tailwindcss";
@import "tailwind-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #f5f5f5;
  --foreground: #0a0a0a;
  color-scheme: light;
}

:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  --text-xxs: 0.625rem;

  --spacing-15: 3.75rem;
  --spacing-30: 7.5rem;
  --spacing-35: 8.75rem;
  --spacing-45: 11.25rem;
  --spacing-55: 13.75rem;
  --spacing-75: 18.75rem;
  --spacing-83.5: 20.875rem;
  --spacing-85: 21.25rem;
  --spacing-92.5: 23.125rem;
  --spacing-95: 23.75rem;
  --spacing-115: 28.75rem;
  --spacing-105: 26.25rem;
  --spacing-100: 25rem;
  --spacing-120: 30rem;
  --spacing-130: 32.5rem;
  --spacing-155: 38.75rem;
  --spacing-160: 40rem;
  --spacing-192: 48rem;
  --spacing-250: 62.5rem;
  --spacing-257.5: 64.375rem;
  --spacing-282: 70.5rem;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
  height: 100dvh;
  overscroll-behavior: none;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-distance));
  }
}

.animate-scroll {
  position: relative;
  animation: scroll-text var(--scroll-duration) ease-in-out alternate infinite
    1s;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
